services:
  logger.event:
    synthetic: true
    tags:
      - {name: 'logger', channel: 'event'}
  event.handler.factory:
    class: Vainyl\Event\Factory\ContainerHandlerFactory
    arguments: ['@app.di']
  event.handler.storage:
    class: Vainyl\Event\Storage\EventHandlerStorage
    arguments: ['@storage.prototype', '@event.config', '@event.handler.factory']
  event.dispatcher:
    class: Vainyl\Event\EventDispatcher
    arguments: ['@event.handler.storage']
  event.config:
    class: Vainyl\Event\Config\EventConfig
    factory: ['@event.config.factory', createConfig]
    arguments: ['@app.environment']
  event.config.factory:
    class: Vainyl\Event\Config\EventConfigFactory
    arguments: ['@storage.prototype', '@extension.storage']
  event.dispatcher.collection:
    class: Vainyl\Event\Operation\CollectionEventDispatcher
    arguments: ['@storage.prototype', '@event.dispatcher']